---
# Настройка PostgreSQL на gh-db
- name: Ensure helper packages for PostgreSQL modules are present
  ansible.builtin.apt:
    name:
      - python3-psycopg2
      - acl
      - ufw
    state: present
    update_cache: true

- name: Configure listen_addresses in postgresql.conf
  ansible.builtin.lineinfile:
    path: "{{ postgresql_conf_path }}"
    regexp: '^#?\s*listen_addresses\s*='
    line: "listen_addresses = '*'"
    state: present
  notify: Restart PostgreSQL

- name: Configure timezone in postgresql.conf
  ansible.builtin.lineinfile:
    path: "{{ postgresql_conf_path }}"
    regexp: '^#?\s*timezone\s*='
    line: "timezone = '{{ gh_db_timezone }}'"
    state: present
  notify: Restart PostgreSQL

- name: Deploy pg_hba.conf with trusted hosts
  ansible.builtin.template:
    src: pg_hba.conf.j2
    dest: "{{ pg_hba_conf_path }}"
    owner: postgres
    group: postgres
    mode: '0640'
  notify: Restart PostgreSQL

- name: Ensure db-admin role exists
  community.postgresql.postgresql_user:
    name: "{{ gh_db_admin_user }}"
    password: "{{ gh_db_admin_password }}"
    role_attr_flags: "LOGIN"
  become: true
  become_user: postgres

- name: Ensure gh_db database exists
  community.postgresql.postgresql_db:
    name: "{{ gh_db_name }}"
    owner: "{{ gh_db_admin_user }}"
    encoding: "UTF8"
    lc_collate: "en_US.UTF-8"
    lc_ctype: "en_US.UTF-8"
  become: true
  become_user: postgres

- name: Ensure UFW denies PostgreSQL port by default
  community.general.ufw:
    rule: deny
    port: '5432'
    proto: tcp

- name: Allow PostgreSQL port for trusted hosts
  community.general.ufw:
    rule: allow
    port: '5432'
    proto: tcp
    src: "{{ item }}"
    comment: "Dostup k PostgreSQL dlya doverennogo hosta"
  loop: "{{ gh_db_trusted_clients }}"

- name: Ensure UFW is enabled
  community.general.ufw:
    state: enabled