fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
alembic>=1.13.1
pydantic==2.5.0
email-validator
python-multipart==0.0.6
httpx<0.28
pytest-asyncio
pytest
paho-mqtt>=2.1.0
# NOTE: psycopg2-binary treboval sistemnye biblioteki, poetomu ran'she ego propuskali v testovom CI.
# Dlya prod-razvertki na gh-db vse zavisimosti ustanavlivayutsya cherez Ansible, poetomu dobavlyaem ego zdes'.
psycopg2-binary==2.9.9  # Vremennoe reshenie dlya prod-servera gh-db
passlib[bcrypt]
python-jose[cryptography]
