[Unit]
Description=GrowerHub API
After=network.target

[Service]
Type=simple
User=watering-admin
WorkingDirectory=/home/watering-admin/groverhub
ExecStart=/usr/bin/python3 /home/watering-admin/groverhub/server/run.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
