name: LOC Badge

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - ".github/metrics/**"
      - ".github/workflows/loc-badge.yml"
  schedule:
    - cron: "17 3 * * 1-5"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install cloc & jq
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends cloc jq
